body {
    background-color: #241D2B;
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#my_content_container {
    border-bottom: 1px solid #FD971F;
    border-left: 1px solid #FD971F;
    border-right: 1px solid #FD971F;
    border-top: 1px solid #FD971F;
    display: block;
    height: 2em;
    padding: 0 1em;
    width: 5em;
    text-decoration: none;
}

#dari_site {
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 23px;
    color: #754F8E
}

#text-pink {
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    color: #FF8EA6
}

#text-white {
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    color: #EDF0DA
}

#text-yellow {
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;
    color: #F6AE2D
}

#link {
    font-family: monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 28px;
    color: #EDF0DA
}
